.offer-ny {
    padding: 30px 20px;
    max-width: 258px;
    width: 100%;
    box-sizing: border-box;

    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 2s;

    @media screen and (max-width: 1024px) {
        max-width: 100%;
        animation: none;
        margin: 0;
        padding: 0;
        border: 1px solid rgba(241, 216, 189, 0.4);
        border-radius: 2px;
    }

    @media screen and (max-width: 1024px) and (orientation: landscape) {
        display: none;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../../img/offer-ny__bg.jpg") no-repeat;
        z-index: 2;
        opacity: .6;

        @media screen and (max-width: 1024px) {
            background-size: cover;
        }
    }

    &__outer {
        position: absolute;
        left: 0;
        z-index: 21;
        top: 16%;
        margin: auto;


        @media screen and (max-width: 1024px) {
            width: 100%;
            transform: none;
            top: 55%;
        }

        @media screen and (max-width: 374px) {
            top: 60%;
        }
    }

    &_main {
        &:after {
            opacity: .5;
        }
    }

    @keyframes slideInLeft {
        0% {
            transform: translate3d(-100%, 0, 0);
            visibility: visible
        }

        to {
            transform: translateZ(0)
        }
    }

    & * {
        box-sizing: border-box;
    }

    &__inner {
        position: relative;
        border: 3px solid #fff;
        border-radius: 2px;
        padding: 20px;
        text-align: center;
        z-index: 3;

        @media screen and (max-width: 1024px) {
            border: 0;
            padding: 0;
        }

        @media screen and (max-width: 374px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__title {
        font-size: 35px;
        line-height: 1.2;
        color: #fff;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin: 20px 0 20px;

        @media screen and (max-width: 768px) {
            font-size: 20px;
            max-width: 160px;
            margin: 5px auto;
        }

        @media screen and (max-width: 374px) {
            font-size: 18px;
            margin: 5px;
        }

    }

    &__link {
        padding: 10px 15px;
        background: #865233;
        border: 2px solid #bd9479;
        border-radius: 2px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1;
        transition: .3s opacity;

        &:hover {
            opacity: 0.8;
        }

        @media screen and (max-width: 1024px) {
            display: inline-block;
            margin-bottom: 0;
            font-size: 14px;
        }

        @media screen and (max-width: 768px) {
            font-size: 11px;
            padding: 7px 15px 5px;
        }

    }

    &__footer {
        @media screen and (max-width: 1024px) {
            background: rgba(255, 255, 255, 0.1);
            padding: 6px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .home-logo {
        top: 13%;
    }
}
